<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- トレース設定 -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PrismWPFSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="LogSource" switchName="TraceSwitch"
        switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="datetime" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="TraceSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="datetime" type="TraceListeners.DateTimeTraceListener, TraceListeners"
           initializeData=".\Trace\%YYYYMMDD%%SUFFIX%.log"
           MaxSize="100000"
           SuffixFormat="D2"
           Encoding="utf-8"
           DateFormat="yyyyMMdd"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="datetime" />
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <PrismWPFSample.Properties.Settings>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
    </PrismWPFSample.Properties.Settings>
  </userSettings>
</configuration>