<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommonModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CommonModels.Properties.Settings>
            <setting name="data1" serializeAs="String">
                <value />
            </setting>
            <setting name="data2" serializeAs="String">
                <value />
            </setting>
            <setting name="data3" serializeAs="String">
                <value />
            </setting>
            <setting name="data4" serializeAs="String">
                <value />
            </setting>
            <setting name="data5" serializeAs="String">
                <value />
            </setting>
            <setting name="data6" serializeAs="String">
                <value />
            </setting>
            <setting name="data7" serializeAs="String">
                <value />
            </setting>
            <setting name="data8" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="data9" serializeAs="String">
                <value>9</value>
            </setting>
        </CommonModels.Properties.Settings>
    </userSettings>
</configuration>